main {
    max-width: 26rem;
    margin: 2.5rem auto;
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
}

#users {
    flex-direction: column;
    list-style: none;
    display: flex;
    gap: 0.5rem;
}