button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 0.5rem;
    background-color: #433352;
    color: #c3b3d1;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

img {
    width: 3rem;
}

button:hover,
button:active,
.active {
    background-color: #9965dd;
    color: #150722;
}